body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
  padding-top: 3em;
  padding-right: 0.3em;
  padding-left: 0.3em;
  padding-bottom: 3em;
  color: #555;
}

h1,
h2,
strong {
  color: #003555;
}

a {
  color: #7e9e84;
}

body {
  color: #566b78;
}

code,
pre {
  background: #f5f7f9;
  border-bottom: 0.1em solid #d8dee9;
  color: #5b5d63;
}

pre {
  border-left: 0.1em solid #69c;
}

header {
  display: flex;
  position: relative;
  height: 9em;
  margin-bottom: 2em;
}

header img {
  height: 100%;
  border-radius: 0.15em;
}

header .description {
  padding-left: 0.75em;
}

header h1 {
  margin: 0em;
}

header .roles {
  margin: 0em;
  font-size: large;
  font-weight: 300;
  padding-left: 0.2em;
  border-left: 0.05em dashed gray;
}

header ul {
  margin-top: 0.2em;
}

.job-search-status {
  position: absolute;
  bottom: 0em;
  color: white;
  font-weight: bold;
  border-radius: 0.1em;
  padding: 0.25em;
}

.job-search-status-open {
  background-color: #29ac44;
}

.job-search-status-not-looking {
  background-color: #e45940;
}

nav a {
  letter-spacing: 0.1em;
  text-decoration: none;
  padding: 0.75em;
}

nav a:hover {
  background: #9ca59c;
  color: white;
}


.article-head {
  position: relative;
}

article {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 1em;
  line-height: 1.5;
  border: 0.1em solid #eceeee;
  background-color: #fcfcfc;
}

.article-image-wrap {
  display: flex;
}

.article-image {
  max-height: 5em;
  max-width: 25%;
}

.article-when {
  margin-left: auto;
}

.article-title {
  border-left: 0.1em dashed #c2c7ca;
  padding-left: 0.5em;
  font-size: x-large;
  color: #4a555c;
}

.article-content {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

nav {
  padding-top: 1em;
  border-top: 0.1em solid #d8ddd8;
  margin-bottom: 2em;
}

.head-title {
  color: #003555;
  font-size: xx-large;
}

.image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}



.flags-icons {
  margin-left: auto;
}

.flags-icons img {
  height: 1.2em;
}

.flags-icons a:hover {
  text-decoration: none;
  background: none;
}

footer {
  text-align: center;
  font-style: italic;
  color: rgb(146, 146, 146);
  margin-top: 2em;
}

.not-found {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -5em;
  margin-left: -10em;
}

@media only screen and (max-width: 520px) {
  nav>a {
    display: block;
    padding: 1em;
  }

  header h1 {
    font-size: large;
  }

  header h2 {
    font-size: medium;
  }

  header ul {
    padding-left: 1em;
  }

  .article-title {
    padding: 0.1em;
    padding-left: 1em;
  }

  .article-image-wrap {
    display: block;
    position: relative;
  }

  .article-image {
    max-height: 5em;
    max-width: 50%;
  }

  .head-title {
    font-size: x-large;
  }
}

@media print {
  article {
    break-inside: avoid;
  }

  footer {
    display: none;
  }
}